*{
    margin: 0;
    padding: 0;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(167, 252, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#padre{
    width: 800px;
    height: 550px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(5, 97, 5);
    background: url(letras.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#intentos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#intentos h1{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

#intentos input{
    border: none;
    margin: 10px;
    outline: none;
    background-color: rgb(113, 200, 102);
    padding: 10px 15px;
    width: 60%;
    font-size: 20px;
    border-radius: 10px;
}

#intentos button{
    border: none;
    color: white;
    background-color: rgb(34, 180, 34);
    cursor: pointer;
    width: 180px;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    margin-top: 15px;
}

#intentos button:hover{
    background-color: rgb(5, 75, 5);
}

#resultados{
    width: 50%;
    height: 100%;
    background-color: rgba(34, 180, 34, 0.8);
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#resultadoH2, #perdiste, #ganaste{
    font-size: 40px;
}

#perdiste{
    display: none;
}

.textDiv{
    display: flex;
}

.text{
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 30px;
    background-color: rgb(130, 124, 124);
    /* box-shadow: 5px 5px 10px black; */
    color: white;
    border-radius: 5px;
    font-size: 25px;
}

.correcto{
    background-color: rgb(63, 246, 35);
}

.contiene{
    background-color: rgb(217, 145, 11);
}

#reiniciar{
    pointer-events: none;
    opacity: 0.5;
}

#error{
    color: red;
    font-size: 18px;
    display: none;
}

#ganaste{
    display: none;
}

#autor{
    position: absolute;
    bottom: 70px;
}

@media (max-width: 850px) {
    body {
        overflow: hidden; /* Para deshabilitar el scroll */
        padding: 0; /* Asegúrate de que no haya relleno adicional en el body */
        margin: 0; /* Asegúrate de que no haya margen adicional en el body */
        height: calc(100vh - 70px); /* Ajusta la altura para restar la barra de navegación */
    }

    #padre {
        flex-direction: column;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        height: 100%; /* Cambiado a 100% en lugar de 100vh */
        overflow-y: hidden; /* Para deshabilitar el scroll vertical en el contenedor */
        flex-direction: column-reverse;
    }


    #autor{
        display: none;
    }

    #resultados{
        width: 100%;
        border-radius: 0;
    }

    #intentos{
        width: 100%;
        margin: 20px;
    }

    .text{
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 25px;
        background-color: rgb(130, 124, 124);
        /* box-shadow: 5px 5px 10px black; */
        color: white;
        border-radius: 5px;
        font-size: 22px;
    }

    .correcto{
        background-color: rgb(63, 246, 35);
    }
    
    .contiene{
        background-color: rgb(217, 145, 11);
    }

    #intentos h1{
        display: none;
    }

    #intentos input{
        width: 70%;
        text-align: center;
    }

    #intentos button{
        width: 200px;
    }
}